[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mdapack"]
	path = mdapack
	url = https://github.com/cran/mdapack
	shallow = true
	registered = true
